
  <table class="fixed_header">
    <thead>
      <tr>
        <th>
          Action
        </th>
          <th *ngFor="let col of columns" >
              {{col}}
            </th>
      </tr>
    </thead>
    <tbody >
      
      <tr *ngFor="let user of (filterUsers || [])">
          <td>
            <button (click)="UpdateUser()">Update</button>
          </td>
          <td *ngFor="let colName of columns" class="col">
            {{user[colName]}}
          </td>
        </tr>
      </tbody>
      <tfoot >
          <tr>
              <td class="paginationTd">
                <div class="float-right"> <app-pagination [totalRecords]="recordCount"
                  [recordsPerPage]="recordperpage" (onPageChange)="displayActivePage($event)"></app-pagination> </div> 
                </td>
          </tr>
        </tfoot> 
      </table>
      <div class="container">  
  <div class="row">  
          <div class="col-lg-8 col-md-10 ml-auto mr-auto">  
              <span><strong>Current Active Page = </strong> {{activePage}}</span>  
          </div>  
  </div>  
 
</div>  